{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">Demo Project</a>
                <ul class="nav">
                    <li><a href="{{ path('cunningsoft_message_list') }}">Messages</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
                <ul class="nav pull-right">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
{% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
{% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid container-content">
    {% block content %}{% endblock %}
    </div>
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chat <b class="caret"></a></b>
                        <div class="dropdown-menu container-fluid">{% render(controller('CunningsoftChatBundle:Chat:show')) %}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="flash-{{ type }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
